<fieldset data-role="controlgroup" data-type="horizontal" style="float:right">
	<a href="/login" class="ui-btn ui-shadow ui-corner-all" id="btn-login">fazer login</a>
	<a href="/registrar" class="ui-btn ui-shadow ui-corner-all" id="btn-registrar">criar conta</a>
</fieldset>