<footer data-role="footer" class="footer" data-theme="b">
	<div class="ui-grid-a ui-responsive" style="padding-bottom:10px">
		<div class="ui-block-a text-center" >
			<p><a href="#">politica de privacidade</a> | <a href="#">contactos</a> | <a href="#">newlatter</a></p>
			<p>&copy; todos direitos reservados</p>
		</div>
		<div class="ui-block-b">
			<fieldset class="ui-grid-b">
				<div class="ui-block-a">
					<a href="#">
						<p>Facebook</p>
						<img class="img-external" width="50px" src="/images/facebook.png">
					</a>
				</div>
				<div class="ui-block-b">
					<a href="#">
						<p>Twitter</p>
						<img class="img-external" width="50px" src="/images/twitter.png">
					</a>
				</div>
				<div class="ui-grid-c">
					<a href="#">
						<p>Google+</p>
						<img class="img-external" width="50px" src="/images/google.png">
					</a>
				</div>
			</fieldset>
		</div>
	</div>
</footer>